html, body {
    min-height: 100% !important;
    min-width: 100% !important
}

.navbar-menu-ui:after {
    content: none !important
}

.ui.grid {
    margin: 0 !important
}


/* ----------------- Login / Register Pages ----------------- */


#login-form {
    margin: 8rem auto 0;
    width: 35%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 1.2rem
}

#register-form {
    width: 35%;
    margin: 7rem auto 0;
    border: 1px solid black;
    border-radius: 5px;
    padding: 1.2rem
}


/* ------------------- Clip Upload ------------------- */


#clip-upload-container {
    width: 35%;
    border: 1px solid grey;
    padding: 1.5rem;
    border-radius: 5px;
    margin: 8rem 0
}


/* ----------------- Profile Settings ----------------- */


#profile-edit-message {
    width: 75%;
    text-align: center;
    margin: 0 auto 3rem
}

#edit-profile-img {
    border-radius: 100%;
}

#edit-profile-row-1 {
    padding-bottom: 4rem;
    border-bottom: 1px solid grey;
}

#edit-profile-form-1 {
    padding: 1rem 2rem;
}

#edit-profile-row-2 {
    margin-top: 3rem
}

#edit-profile-form-2 {
    width: 75%;
    margin: 0 auto
}

#edit-username-field {
    margin-bottom: 1.5rem;
}


/* ----------------- Account Settings ----------------- */


#account-settings-message {
    width: 50%;
    margin: 1rem 0 1rem 5rem;
}

#edit-email-form {
    width: 50%;
    margin-left: 5rem
}

#edit-password-form {
    width: 50%;
    margin-left: 5rem
}

#account-settings-email-row {
    border-bottom: 1px solid grey;
    padding-bottom: 3rem
}


#account-delete-button {
    margin: 3rem auto 2rem;
}


@media only screen and (max-width: 1100px) {

    /* ----------------- Login / Register Pages ----------------- */

    #login-form {
        width: 60%;
        padding: 1.5rem;
        margin-top: 25%
    }

    #register-form {
        width: 60%;
        padding: 1.5rem;
        margin-top: 20%
    }


    /* ------------------- Clip Upload ------------------- */


    #clip-upload-container {
        margin-top: 30%;
        width: 55%
    }
}

@media only screen and (max-width: 600px) {

    /* ----------------- Login / Register Pages ----------------- */

    #login-form {
        margin-top: 45%;
        width: 85%
    }

    #register-form {
        margin-top: 30%;
        width: 85%
    }

    /* ----------------- Profile Settings ----------------- */

    #edit-profile-img {
        margin-top: .8rem;
    }

    #edit-profile-form-1 {
        padding: 0;
    }

    #edit-profile-form-2 {
        width: 85%
    }

    /* ----------------- Account Settings ----------------- */

    #account-settings-message {
        width: 75%;
        margin: 1rem auto
    }

    #edit-email-form {
        width: 75%;
        margin: 0 auto
    }

    #edit-password-form {
        width: 75%;
        margin: 0 auto
    }

    #account-delete-button {
        margin: 2rem auto;
    }
}