html, body {
    min-height: 100vh !important;
    min-width: 100vw !important;
}

.ui.grid {
    margin: 0 !important
}

#app-container-light {
    position: relative;
    min-height: 95vh !important;
    min-width: 100vw !important;
}

#app-container-dark  {
    position: relative;
    min-height: 95vh !important;
    min-width: 100vw !important;
    background-color: #212121 !important;
}

#unavailable-container {
    width: 90%;
    text-align: center;
    margin: 5rem auto
}

#unavailable-message-dark {
    color: whitesmoke;
}

#unavailable-message-light {
   color: black; 
}


/* ------------------------- Navbar ------------------------ */


#navbar-segment-container {
    border: none !important;
    border-radius: 0 !important;
    box-shadow: none !important;
}

#navbar-header {
    margin: 0 5px 0 3px;
    padding: 0
}

#navbar-dropdown-icon {
    margin-right: 10px
}

#navbar-searchbar-logged-out {
    margin: 0 auto 0 1.5rem;
}

.navbar-icon-2 {
    margin-left: 3px
}

.navbar-menu-header {
    margin-right: 2rem !important;
    margin-left: 1rem !important;
}

.navbar-segment {
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
    border-radius: 0 !important;
    box-shadow: none !important;
}

.wide-screen-nav{
    justify-content: space-between;
    border-radius: 0;
}

.navbar-menu-ui:after {
    content: none !important
}

.navbar-sidebar {
    margin-top: 2rem !important;
}


/* ----------------------- Home Page ----------------------- */


#home-page-container-div {
    margin: 50px 0;
    text-align: center
}

#home-page-h1 {
    font-size: 5rem
}

#home-page-h2 {
    font-size: 1.75rem
}

.column-item {
    text-align: center;
}


/* ------------------------- Footer ------------------------- */


#light-footer {
    width: 100%;
    height: 4rem;
    opacity: 90%;
    padding: 1rem 0;
    background-color: black;
}

#dark-footer {
    width: 100%;
    height: 4rem;
    padding: 1rem 0;
    background-color: #212121;
}

#light-footer-p {
    color: red;
    text-align: center
}

#dark-footer-p {
    color: whitesmoke;
    text-align: center
}

/* ----------------- Login / Register Pages ----------------- */


#login-form {
    margin: 8rem auto 0;
    width: 35%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 1.2rem
}

#login-form-dark {
    margin: 8rem auto 0;
    width: 35%;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    padding: 1.2rem
}

#register-form {
    width: 35%;
    margin: 7rem auto 0;
    border: 1px solid black;
    border-radius: 5px;
    padding: 1.2rem
}

#register-form-dark {
    width: 35%;
    margin: 7rem auto 0;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    padding: 1.2rem
}

#register-confirmation-container {
    width: 35%;
    margin: 15rem auto;
    text-align: center;
}


/* ------------------- Clip Upload ------------------- */


#clip-upload-container {
    width: 35%;
    margin: 10% 0;
    padding: 1.5rem;
    border-radius: 5px;
    border: 1px solid grey;
}


/* --------------------- Profile --------------------- */


#profile-container {
    margin: 2rem 0;
    padding-bottom: 2rem;
    border-bottom: 1px solid grey
}

#profile-image {
    width: 75%;
    border-radius: 100%
}

#profile-name-h1 {
    display: inline-block;
    font-weight: 200;
    font-size: 1.5rem;
    padding: .25rem;
    margin-bottom: 0;
}

#profile-edit-button {
    margin-left: 3rem
}

#profile-row-1 {
    margin-left: .6rem
}

#profile-row-2 {
    margin-left: .6rem
}

#report-icon {
    margin-left: 2rem;
    cursor: pointer
}

.report-message {
    margin: 1rem 1rem 0 !important
}

.report-form {
    padding: 1rem !important;
}

.report-form-button {
    margin-bottom: 1rem !important;
}

.profile-follow-button {
    margin-left: 2rem !important
}

.profile-menu-item {
    margin: 0;
}

.profile-responsive-bio-row {
    padding: 0;
    margin: 0;
    border: none;
    box-shadow: none
}

.profile-bio-grid-row {
    padding: .25rem
}

.profile-bio-p {
    font-size: 1.2rem;
    font-weight: 200 !important
}


.follow-list-a {
    color: black;
}


/* ------------------ Profile Clips ------------------ */

#profile-clips-container-div {
    padding-bottom: 8rem;
}

#profile-clips-game-select {
    margin: 0 auto;
    text-align: center
}

#profile-clips-form {
    margin-bottom: 2rem;
}

.profile-clips-card {
    color: black;
}

.profile-clips-card-description {
    padding: .5rem;
    color: black;
    font-size: 1.3rem
}

.profile-clips-card-group {
    max-width: 75% !important;
    margin: 0 auto !important
}


/* ------------------ Browser Clips ------------------ */


#browser-clips-grid {
    margin: 2rem auto 0 !important;
    padding-bottom: 8rem;
    max-width: 80%;
}

.browser-clips-image {
    width: 75% !important
}


/* ------------------ Popular Clips ------------------ */


#popular-clips-grid-container {
    max-width: 80%;
    padding-bottom: 8rem;
    margin: 0 auto !important;
}

.popular-clips-row {
    margin-bottom: 3rem !important;
}


/* -------------------- Game Clips ------------------- */

#game-clips-container {
    padding-bottom: 8rem;
}

#game-clips-header {
    margin-left: 1rem
}

#clip-page-header-content {
    padding: 10px 0 0 10px
}

#game-clips-grid-container {
    margin: 2rem auto !important
}


/* --------------------- Clip Page -------------------- */


#clip-page-container-div {
    padding-bottom: 5rem
}

#clip-page-card {
    width: 50%;
    margin: 2rem auto 5rem;
}

#clip-page-card-header {
    padding: 0;
}

#clip-page-card-title {
    text-align: center;
}

#clip-page-title-span {
    margin-left: 2rem
}

#comment-form-container-div {
    margin-top: 0 !important
}

#clip-page-login-message {
    padding: 1rem
}

#clip-page-actions-column {
    text-align: end;
}

#comment-group-container {
    margin-bottom: 0;
    max-width: 100%;
}

#comment-replies-container {
    margin-left: 0
}

#comment-replies {
    max-width: 100%;
}

#reply-form {
    margin-bottom: 1rem;
}

.comment-content-container {
    padding-right: 2rem !important
}

.like-clip-icon {
    cursor: pointer
}

.like-button {
    cursor: pointer;
}

.reply-button {
    cursor: pointer;
}

.comment-content-container {
    padding-left: 3.4rem;
}


/* ----------------- Profile Settings ----------------- */


#profile-edit-message {
    width: 75%;
    text-align: center;
    margin: 0 auto 3rem
}

#edit-profile-img {
    border-radius: 100%;
}

#edit-profile-row-1 {
    padding-bottom: 4rem;
    border-bottom: 1px solid grey;
}

#edit-profile-form-1 {
    padding: 1rem 2rem;
}

#edit-profile-row-2 {
    margin-top: 3rem
}

#edit-profile-form-2 {
    width: 75%;
    margin: 0 auto
}

#edit-username-field {
    margin-bottom: 1.5rem;
}


/* ----------------- Account Settings ----------------- */


#account-settings-message {
    width: 50%;
    margin: 1rem 0 1rem 5rem;
}

#edit-email-form {
    width: 50%;
    margin-left: 5rem
}

#edit-password-form {
    width: 50%;
    margin-left: 5rem
}

#account-settings-email-row {
    border-bottom: 1px solid grey;
    padding-bottom: 3rem
}

#account-settings-password-row {
    padding-top: 3rem
}

#account-delete-button {
    margin: 3rem auto 2rem;
}

.account-setting-menu-item {
    margin: 1rem 0 !important
}


/* ----------------- Webite Settings ----------------- */


#settings-com-container {
    margin-top: 3rem
}


@media only screen and (max-width: 1099px) {

    /* ----------------- Login / Register Pages ----------------- */

    #login-form {
        width: 60%;
        padding: 1.5rem;
        margin-top: 25%
    }

    #login-form-dark {
        width: 60%;
        padding: 1.5rem;
        margin-top: 25%
    }

    #register-form {
        width: 60%;
        padding: 1.5rem;
        margin-top: 20%
    }

    #register-form-dark {
        width: 60%;
        padding: 1.5rem;
        margin-top: 20%
    }


    /* ------------------ Profile Clips ------------------ */


    .profile-clips-card-group {
        max-width: 88% !important;
    }


    /* ------------------- Clip Upload ------------------- */


    #clip-upload-container {
        margin-top: 25rem;
        width: 55%
    }
}



/* ------------------------ MEDIA QUERIES ------------------------ */



@media only screen and (max-width: 767px) {
    #follower-modal {
        width: 65% !important;
    }

    #following-modal {
        width: 65% !important;
    }

    #follower-list-img {
        width: 15% !important;
    }

    #following-list-img {
        width: 15% !important;
    }

    .follow-list-a {
        font-size: 1.5rem !important;
        padding-top: .5rem !important
    }

    .profile-clips-card {
        margin: 0 auto !important
    }

    .wide-screen-nav{
        justify-content: space-between;
        margin: 0 !important;
        width: 100%
    }
}

@media only screen and (max-width: 650px) {

    /* ----------------- Login / Register Pages ----------------- */

    #login-form {
        margin-top: 45%;
        min-width: 85% !important
    }

    #login-form-dark {
        margin-top: 45%;
        min-width: 85% !important
    }

    #register-form {
        margin-top: 30%;
        min-width: 85% !important
    }

    #register-form-dark {
        margin-top: 30%;
        min-width: 85% !important
    }

    #register-confirmation-container {
        width: 90%
    }


    /* --------------------- Profile --------------------- */


    #profile-row-1 {
        margin-left: 0 !important
    }

    #report-icon {
        margin-left: 1rem;
        cursor: pointer
    }
    
    .profile-follow-button {
        margin-left: 1rem !important
    }

    .profile-bio-p {
        padding: 0 .8rem
    }

    .profile-responsive-bio-row {
        padding: 1.5rem 0 .5rem;
    }


    /* ------------------ Profile Clips ------------------ */


    .profile-clips-card-group {
        max-width: 95% !important;
        margin: 0 auto
    }

    .profile-clips-card {
        margin: 3.5rem auto !important
    }

    .profile-menu-item {
        margin: 0;
        padding: 10px 5px !important
    }    


    .browser-clips-column {
        width: 90% !important
    }


    /* ------------------ Browser Clips ------------------ */


    .browser-clips-image {
        margin: .75rem auto;
    }

    #browser-clips-grid {
        max-width: 100%;
    }


    /* ------------------ Browser Clips ------------------ */


    #popular-clips-grid-container {
        max-width: 100%;
    }


    /* -------------------- Clip Page -------------------- */


    #clip-page-card {
        width: 95%;
    }


    /* ------------------- Clip Upload -------------------- */


    #clip-upload-container {
        margin: 40% auto !important;
        width: 80% !important;
    }


    /* ----------------- Profile Settings ----------------- */


    #edit-profile-img {
        margin-top: .8rem;
    }

    #edit-profile-form-1 {
        padding: 0;
    }

    #edit-profile-form-2 {
        width: 85%
    }


    /* ----------------- Account Settings ----------------- */


    #account-settings-message {
        width: 75%;
        margin: 1rem auto
    }

    #edit-email-form {
        width: 75%;
        margin: 0 auto
    }

    #edit-password-form {
        width: 75%;
        margin: 0 auto
    }

    #account-delete-button {
        margin: 2rem auto;
    }

    .account-setting-menu-item {
        font-size: .9rem;
        width: 25%;
    }
}